<hr />
<div id="wanted">
    <h2> This is the creator of <%=Title%></h2>
    <h3>Help us find this Person! Call 913-535-6280 now to report!</h3>
</div>

<div id="fakerPerson">
    <div>
        <img src='<%=Image %>' width="400">
    </div>
    <div>
        <span> Name: <%=Name %> </span><br>
        <span> Job Title: <%=PersonT %> </span><br>
        <span> Country: <%=Country %> </span><br>
        <span> City: <%=City %> </span><br>
        <span> Known for: <%=Job %> </span>
    </div>
</div>

<div id="disclaimer">
    <h3><strong>Disclaimer!!!!</strong> This is not the real creator of <%=Title%>.</h3>
    <h3>The information above is a fake person brought to you by Faker npm.</h3>
    <h3>And Pennywise's phone number for donating their services. Thank You!</h3>
</div>